body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

section {
    display: flex;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.first-half {
    width: 50%;
    padding-left: 5%;
    padding-top: 0;
    padding-top: 0%;
    margin: 0%;
}

.first-half img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}

.roronoa {
    margin-top: 150px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.extra {
    padding-right: 100px;
    width: 80%;
}

.last-half {
    width: 40%;
    padding-left: 5%;
    box-shadow: 20px black;
}